// site styles
// 
@import 'compass/css3';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

.dg {
    input {
        line-height: 1.4;
    }

    .save-row {
        display: none;
    }

    &.main.a.has-save > ul {
        margin-top: 0;
    }
}

#instructions {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    background: rgba(255,255,255, 0.5);
    text-align: center;
}

#sim {
    &:after {
        content: 'Rocket Cam';
        position: absolute;
        top: 400px - 20px;
        right: 0;
        z-index: 100;
        width: 400px;
        text-align: center;
    }
}

#sim canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#sim .physics-layer-rocket {
    z-index: 3;
}

#sim .physics-layer-rocket-cam {
    top: 0;
    left: auto;
    right: 0;
    background: #fff;
    border: 1px solid $deep-grey-dark;
    z-index: 1;
}

