/* line 6, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 11, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg input {
  line-height: 1.4;
}
/* line 15, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg .save-row {
  display: none;
}
/* line 19, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg.main.a.has-save > ul {
  margin-top: 0;
}

/* line 24, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#instructions {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* line 34, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #000;
}
/* line 42, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim:after {
  content: 'Rocket Cam';
  position: absolute;
  top: 376px;
  right: 0;
  z-index: 100;
  width: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

/* line 55, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 61, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-main {
  z-index: 3;
}

/* line 65, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-rocket {
  z-index: 2;
}

/* line 69, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-rocket-cam {
  top: 0;
  left: auto;
  right: 0;
  background: #000;
  border: 1px solid #ededed;
  z-index: 1;
}
