/* line 6, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 10, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.thumb-left {
  float: left;
  margin: 0.5em 0.75em 0 0;
}

/* line 16, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg input {
  line-height: 1.4;
}
/* line 20, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg .save-row {
  display: none;
}
/* line 24, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
.dg.main.a.has-save > ul {
  margin-top: 0;
}

/* line 29, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#viewport {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../images/nightsky.png?1395691575') center center;
  background-size: 1000px;
}

/* line 40, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#instructions,
#direction {
  color: #fff;
  position: absolute;
  top: 160px;
  width: 316px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
/* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#instructions img,
#direction img {
  margin-top: 1.5em;
}

/* line 52, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#instructions {
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -3em;
  margin-top: -300px;
}

/* line 61, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#direction {
  opacity: 0;
  top: auto;
  bottom: 455px;
  left: 30px;
  background: #fff;
  color: #1a1a1a;
  padding: 0 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 71, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#direction:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid #fff;
  border-color: #fff transparent transparent;
}

/* line 82, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: .75em;
  width: 318px;
  height: 253px;
  background: #fff;
  border: 1px solid gainsboro;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 95, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#controls .btn-group {
  margin: 0;
}
/* line 98, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#controls .btns {
  margin: 0 0 1em;
}
/* line 102, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#controls #joystick {
  position: absolute;
  bottom: 0.75em;
  right: 14px;
}

/* line 109, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#ctrl-grid {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

/* line 116, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#com-panel {
  position: absolute;
  bottom: 354px;
  left: 1px;
  z-index: 100;
}
/* line 122, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#com-panel .meters {
  color: #ededed;
}
/* line 125, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#com-panel .meters label {
  margin-right: 1ex;
}
/* line 130, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#com-panel:before {
  content: 'Rocket Cam';
  display: block;
  width: 400px;
  text-align: center;
  background: white;
  z-index: 4;
}

/* line 140, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#out-of-sight {
  display: none;
  position: absolute;
  bottom: 460px;
  left: 0;
  background: #ededed;
  color: #00258f;
  padding: 1em 2em;
  z-index: 2;
  text-align: center;
}

/* line 152, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* line 161, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 167, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-main {
  z-index: 1;
}

/* line 171, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-parallax {
  z-index: 0;
}

/* line 175, /Users/wellcaffeinated/Documents/github/minutelabs/Equivalence-Principal/library/styles/site.scss */
#sim .physics-layer-rocket-cam {
  opacity: 0.9;
  top: auto;
  bottom: 0;
  background: url('../images/nightsky.png?1395691575') center center;
  background-size: 1000px;
  border: 1px solid #ededed;
  z-index: 3;
}
